@import url(header.css);
@import url(footer.css);
@import url(contact-us.css);
@import url(login.css);
@import url(news_style.css);

/* Основные стили */

body {
    /* font-family: "Manrope", sans-serif; */
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #000000;
    color: #fff;
    margin: 0px;
}

html {
  scroll-snap-type: y mandatory;
  overflow-y: scroll; 
  scroll-behavior: smooth;
}

body a {
    text-decoration: none;
    color: #fff;
}

body a:hover{
    color: #fff370;
}

body a:active {
    color: #b0a742;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.full-page-background-image {
  position: fixed;
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -2;
  filter: brightness(0.3);
}

.container {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    flex-direction: var(--flex-direction, row);
    overflow: hidden;
    scroll-snap-align: start;
  }

.text-section {
  width: 100%;
  max-width: 600px;
  position: relative;
  z-index: 2;
  top: 55vh;
  }
  .text-section h1 {
    font-size: 86px;
    font-weight: 800;
    margin: 0; 
    text-align: center;
  }
  .text-section h1:hover a{
    transform: scale(1.05);
  }
  .text-section a {
    transition: transform 0.3s ease;
    transform: scale(1);
  }
  .text-section p {
    font-size: 23px;
    margin: 0px;
    line-height: 1.5;
  }

  .text-section.right {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    left: auto;
    bottom: 10%;
    width: 100%;
    height: auto;
    right: auto;
    max-width: none;
    filter: drop-shadow(0 4px 35px rgba(0, 0, 0, 0.679));
  }
  .text-section.right h2{
    font-size: 60px;
    margin: 10px;
  }
  .text-section.right p {
    font-size: 20px;
    margin-top: 10px;
  }
  .logo-overlay {
    position: relative;
  }
  .logo-overlay img {
    width: 100%;
    max-width: 800px;
    height: auto;
    transition: transform 0.3s ease;
  }
  .logo-overlay img:hover {
    transform: scale(1.05);
  }

  .highlight {
    background-color: white;
    color: black;
    padding: 2px 5px;
  }
  .background-image{
    position: absolute;
    z-index: -2;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .container::before {
    content: none;
    position: absolute;
    z-index: -1;
    background: linear-gradient(to bottom, rgb(0, 0, 0), #00000000, #00000000);
    height: 100%;
    width: 100%;
  }
  .container::after{
    content: none;
    position: absolute;
    z-index: 0;
    background: linear-gradient(to top, rgb(0, 0, 0), #00000000, #00000000);
    height: 100%;
    width: 100%;
  }
  .image-section {
    display: flex;
    width: 100%;
    height: 100%;
  }
  .image-section img {
    width: auto;
    height: 100%;
  }
  #character {
    position: absolute;
    z-index: -1;
    width: 100vw;
    justify-content: center;
    bottom: 0;
    overflow: hidden;
  }
  .light-overlay {
    position: absolute;
    align-self: center;
    animation: blink 3s infinite;
  }
  .tv-trailer {
    position: absolute;
    transition: all 0.3s ease;
    transform: translateY(0%);
    left: 2%;
    bottom: 0;
    height: 60%;
  }
  .tv-trailer img {
    position: absolute;
  }
  .tv-light-overlay {
    transition: opacity 0.3s ease;
    position: absolute;
    object-fit: cover;
    bottom: 185px;
    opacity: 0;
    pointer-events: none;
  }
  .tv-trailer:hover .tv-light-overlay {
    opacity: 1;
  }
  .tv-trailer:hover {
    transform: translateY(-1%);
}


#trailer {
  position: relative;
  overflow: hidden;
  align-items: center;
}

#trailer video {
  position: relative;
  width: 50%;
  height: 50%;
}

/* АНИМАЦИИ */
.image-section {
  will-change: transform;
  transition: transform 0.1s ease-out;
  transform: translateY(0%);
}

@keyframes blink {
  0%, 45% {
      opacity: 1; /* Прозрачный */
  }
  49% {
      opacity: 0.5; /* Полностью видимый */
  }
  50% {
    opacity: 0.8; /* Полностью видимый */
  }
  52% {
    opacity: 0.5; /* Полностью видимый */
  }
  55%, 100% {
      opacity: 1; /* Прозрачный */
  }
}
@keyframes breathe {
  0% {
      opacity: 1; /* Прозрачный */
  }
  50% {
    opacity: 0.5; /* Полностью видимый */
  }
  100% {
      opacity: 1; /* Прозрачный */
  }
}

/* ГАЛЛЕРЕЯ */

#screenshots {
  flex-direction: column;
  align-items: center;
}
#screenshots .text-section {
  align-self: start;
  left: 10%;
  top: 0;
}
.gallery-container {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 80vw;
  overflow: hidden;
}
.gallery-container h1 {
  font-size: 48px;
  margin: 10px 0;
  font-weight: 800;
  max-width: 600px;
  width: 100%;
}
.gallery {
  display: flex;
  background-color: #000000;
  flex-direction: row;
  overflow: hidden;
  max-width: 80%;
  max-height: 70%;
  gap: 20px;
  scroll-snap-type: x mandatory;
  position: relative;
  align-items: center;  
}
.gallery-item {
  position: relative;
  flex: 0 0 50%;
  aspect-ratio: 4 / 3;
  overflow: hidden;
  scroll-snap-align: start;
  z-index: 1;
}
.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
  transform: translateX(20%);
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #000000;
  box-shadow: 4px 0 40px rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  transform: translateX(0%);
  transition: transform 0.4s ease;
}
.gallery-item.show img {
  transform: translateX(0%) scale(1.05);
}
.gallery-item.show .overlay{
  transform: translateX(-100%);
  pointer-events: auto;
}
.overlay h3 {
  margin: 0;
  font-size: 2vw;
  font-weight: 1000;
  padding: 0 20px;
}
.overlay p {
  margin: 10px 0;
  font-size: 0.9vw;
  padding: 0 20px;
  text-overflow: ellipsis;
}
.read-more-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  text-decoration: none;
  text-align: center;
  margin: 20px 20px;
}

.read-more-link:hover {
  background-color: #dfdfdf; /* Цвет фона при наведении */
  color: #000;
}

.gallery-button-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  max-width: 80%;
  width: 100%;
  background-color: #000000;
}
.prev-button, .next-button {
  background-color: #00000000;
  color: rgb(255, 255, 255);
  border: none;
  font-size: 50px;
  padding: 10px;
  cursor: pointer;
  z-index: 10; /* Чтобы кнопки были поверх галереи */
  position: relative; /* Позволяет позиционировать кнопки */
}

.prev-button {
  margin-right: 10px; /* Отступ между кнопкой и галереей */
  justify-self: start;
}

.next-button {
  margin-left: 10px; /* Отступ между кнопкой и галереей */
  justify-self: end;
}

@media (max-width: 768px) {
  html {
    scroll-snap-type: none;
  }
  .text-section {
    top: 25vh;
  }
  .text-section p{
    font-size: 16px;
    padding: 0 20px;
  }
  .text-section h1{
    font-size: 53px;
    padding: 10px 0;
  }
  #screenshots h1{
    font-size: 40px;
    text-align: start;
  }
  .text-section.right h2 {
    font-size: 10vw;
  }
  .text-section.right p{
    font-size: 4vw;
  }
  
  .gallery {
    max-width: 90%;
  }
  .gallery-item img {
    transform: translate(0 , -70px);
  }
  .overlay {
    transform: translateX(0%);
    transform: translateY(70%);
    width: 100%;
    height: 60%;
    justify-content: start;
    align-items: center;
    text-align: center;
  }
  .overlay p{
    font-size: 15px;
  }
  .overlay h3{
    font-size: 42px;
  }
  .overlay button {
    padding: 5px 10px;
    margin: 0;
  }
  .gallery-item.show img {
    transform: translateX(0%) scale(1.05);
  }
  .gallery-item.show .overlay{
    transform: translateY(200%);
    pointer-events: auto;
  }
  .gallery-item {
    position: relative;
    flex: 0 0 100%;
    aspect-ratio: 3 / 4;
  }
  .gallery-button-container {
    max-width: 90%;
  }

  .container {
    flex-direction: column-reverse;
    align-items: center;
  }
  .image-section img {
    width: auto;
    height: 90%;
  }
  .image-section {
    width: 125vw;
    bottom: 150px;
    align-items: center;
    justify-content: center;
  }
  .image-section::after {
    background: linear-gradient(to topц, #000000, #00000000);
  }
  #trailer video {
    width: 85%;
    height: 30%;
  }
}

@media (max-width: 1410px) {
  .tv-trailer {
    display: none;
  }
}